@use 'variables' as *;

.story {
  &__left {
    background-color: $color-grey-light-2;
    grid-column: 1 / 4;
    padding: 2rem;
    position: relative;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 5.5vw);
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__headshot {
    width: 20rem;
    height: 20rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
  }

  &__right {
    grid-column: 4 / -1;
  }

  display: grid;
  grid-template-columns: repeat();
}
