@use 'variables' as *;

.btn {
  padding: 2rem 4rem;
  background-color: $color-primary;
  color: $color-primary-light;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: lighten($color-primary, 5%);
  }
}
